*{
	margin:0; /*AFECTA EN EL FOOTER*/
	box-sizing: border-box; /*AFECTA AL HEADER*/
}

/*****************************************
ETIQUETAS PARA EL BODY
*****************************************/
body {
    width:100%;
    height:100%;
    font-family: 'Lilita One', cursive; /*FUENTE DEL TEXTO*/
    background-image: url(../imatges/fondo-claro.png); /*COLOCA EL FONDO DE PANTALLA*/
}
.main {
    width: 100%; 
    height: 100%; 
    display: flex; /*NECESARIO PARA PODER CENTRAR EL CONTENIDO*/
    justify-content: center; /*NECESARIO PARA PODER CENTRAR EL CONTENIDO*/
    padding: 20px; /*PADDING PARA SEPARAR MÁS EL TITULO DEL BANNER*/
}   

/**********************************************
LISTA DE NAVEGACIÓN
**********************************************/

.lista-navegacion{
	width: 100%; /*ANCHO DEL DIV DE NAV*/
    position: fixed; /*EL NAVBAR SE QUEDARÁ ANCLADO*/
    display: flex; 
    align-items: center; /*CENTRA LOS CONTENDIDOS SINO SE QUEDAN PEGADOS ARRIBA*/
    background-color: #000; /*FONDO COLOR NEGRO*/
    font-size: 17px;
}


.lista-navegacion li{
	font-family: 'SupercellText-Medium',Helvetica,Arial,sans-serif; /*FUENTE*/
    display: block; /**/
    color: white;
    padding: 15px 35px;
}

/*MODIFICA LA IMAGEN DEL NAVBAR */
.lista-navegacion li.logonav{
	width:120px;
}

.lista-navegacion li img{
	max-width:100%;
	height:auto;
}

/*etiquetas @media screen para ponner el menu en vertical una vertical*/
@media screen and (max-width: 700px) {
    .lista-navegacion {   
      flex-direction: column;
      
    }
}

.footer {
    padding: 20px;
    text-align: center;    
    max-height: 400px;
    margin-top: 0%;
    background-color: #000;
    width: 100%;
    margin-top: auto;
}

.footer .column-footer {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.celdas-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.celdas-footer a{
    color: rgb(255, 255, 255);
}

.tag {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 6px 8px rgb(255, 255, 255);
    padding: 10px;
    margin-right: 15px;
}

.tag img {
    width: 60px;
    border-radius: 25px;
    margin-right: 5px;
    padding: 3px;
    display: flex;
}

/*
SELECTOR  PARA LA SEGUNDA COLUMNA, AJUSTA LAS IMAGENES DEL FOOTER
*/
.column-footer:nth-of-type(2) {
    margin-left: auto;
    margin-top: -10%;
  }