*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
    width:100%;
    height:100%;
    font-family: 'Lilita One', cursive;
	padding:0;
	box-sizing:border-box;
    background-image: url(../imatges/fondo-claro.png);
}
.main {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    padding: 20px;
}   

.lista-navegacion{
	width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #000;
    font-size: 17px;
}

.lista-navegacion li{
	font-family: 'SupercellText-Medium',Helvetica,Arial,sans-serif;
    display: block;
    color: white;
    padding: 15px 35px;
}

.lista-navegacion li.logonav{
	width:120px;
}

.lista-navegacion li img{
	max-width:100%;
	height:auto;
}

/*etiquetas @media screen para ponner el menu en vertical una vertical*/
@media screen and (max-width: 700px) {
    .lista-navegacion {   
      flex-direction: column;
      
    }
}

@media screen and (max-width: 700px) {
    .imagenprincipal {   
      padding-top: 75%;
    }
}

.footer {
    padding: 20px;
    text-align: center;    
    max-height: 400px;
    margin-top: 0%;
    background-color: #000;
    width: 100%;
}

.footer .column-footer {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.celdas-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.celdas-footer a{
    color: rgb(255, 255, 255);
}

.tag {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 6px 8px rgb(255, 255, 255);
    padding: 10px;
    margin-right: 15px;
}

.tag img {
    width: 60px;
    border-radius: 25px;
    margin-right: 5px;
    padding: 3px;
    display: flex;
}

.column-footer:nth-of-type(2) {
    margin-left: auto;
    margin-top: -10%;
  }