
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/******************/
/* TEXTO PARA BANNER */
/******************/
.imagen-principal {
    width:100%;
    height: 20%; 
    object-fit: cover; /* Usa cover para llenar el contenedor */
    padding-bottom: 570px;
    border: 6px black;
}


/* CAPA OSCURA */
/* CAPA OSCURA */
.overlay {
    z-index: -99999; /*Esto evitara que el overlay tape el menú, estara una capa por debajo*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77%; /* Ajustar la altura para que coincida con el banner */
    background-color: rgba(0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Asegura que el texto se apile verticalmente */
    background-image: url(../imatges/modos_de_juego/bannerJugabilidad.webp);
    background-repeat: no-repeat; /*no se repetiran la imagen*/
    background-size: contain; /*la imagen se ajustara al overlay*/
    background-position-x: center; /*centrara la imagen*/
}
/******************/
/* TITULO PARA BANNER */
/******************/
.banner-text {
    color: rgb(0, 0, 0);
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    font-size: 50px;
    margin-bottom: 0px; /* Ajustar este valor para acercar el texto */
}



p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
}

.primertexto-principal {
    margin: 20%;
    flex: 70%;
}

.contenido-principal {
    width: 80%;
    height: 80%;
}

.contenido-principal img {
    width: 40%;
    height: 40%;    
    border-radius: 7px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.comparacion-pantallas img {
    display: block;
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: 7px;
}

/******************/
/* NUEVOS ESTILOS */
/******************/
.modo-clasico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.modo-clasico .texto {
    flex: 1;
    margin-right: 20px;
}

.modo-clasico .texto h3 {
    margin: 0;
    color: #000000;
}

.modo-clasico .texto p {
    margin: 5px 0 0;
    font-size: 14px;
    line-height: 1.5;
}

.modo-clasico .imagen {
    flex: 1;
    text-align: right;
}

.modo-clasico .imagen img {
    width: 500px; /* Ajusta este valor según lo que necesites */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/**/
.texto-inicial {
    margin: 20px auto;
    max-width: 800px; /* Limita el ancho para que se vea limpio */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto-inicial h3 {
    color: #000000; /* Un color llamativo */
    font-size: 24px;
    font-weight: bold;
}

.texto-inicial p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    color: #333;
}
