@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/******************/
/* BANNER */
/******************/

.imagen-principal {
    width:100%;
    height: 20%; 
    object-fit: cover; /* Usa cover para llenar el contenedor */
    padding-bottom: 570px;
    border: 6px black;
}

/* CAPA OSCURA */
/* CAPA OSCURA */
.overlay {
    z-index: -99999; /*Esto evitara que el overlay tape el menú, estara una capa por debajo*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 77%; /* Ajustar la altura para que coincida con el banner */
    background-color: rgba(0, 0, 0); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Asegura que el texto se apile verticalmente */
    background-image: url(../imatges/novedades/novedadesBanner.webp);
    background-repeat: no-repeat; /*no se repetiran la imagen*/
    background-size: contain; /*la imagen se ajustara al overlay*/
    background-position-x: center; /*centrara la imagen*/
}
/******************/
/* TITULO PARA BANNER */
/******************/
.banner-text {
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    font-size: 50px;
    margin-bottom: 0px; /* Ajustar este valor para acercar el texto */
}

/******************/
/* TEXTO PARA BANNER */
/******************/
.banner-text1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px; /* Ajustar este valor para acercar el texto */
}

/***************
CAMBIA EL ESTILO DE LA FUENTE DE LA ETIQUETA P
***************/
p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
}

/********************************************
AJUSTA EL TAMAÑO DE DEL DIV DONDE IRA EL CONTENIDO, REGULANDOLO A UN 80%
********************************************/
.contenido-principal {
    width: 80%;
    height: 80%;
}
/*****************************
AJUSTA EL TAMAÑO DE LAS IMAGENES DENTRO DEL DIV
*****************************/

.contenido-principal img{
    width: 100px;
    height: 100px;
}


.contenido1 {
    border: 4px solid #000000;
    border-radius: 11px;
    width: 100%;
    justify-content : center;
    padding: 15px;
    background: #ffffff;
    margin-bottom: 10px;
}

.habilidad {
    display: flex;
    align-items: center;
}

.imagen {
    display: flex;
    align-items: center;
}

.imagen img {
    max-width: 90px;
    max-height: 90px;
}

.descripcion {
    width: 100%;
    justify-content: center;
}


 

/**********************
    FORMULARIOO
***********************/
.formulario {
    max-width: 600px;
    margin: auto; /*centra el formulario*/
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column; /*le da forma de columna al formulario*/
    gap: 15px; /*editar para el espacio entre contenidos*/
}

label {
    font-weight: bold; /*marcado en negrita*/
    margin-bottom: 5px; /*margen inferior*/
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; /*Cambia el cursor del raton*/
}

button:hover {
    background-color: #45a049;
}
